@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Single+Day&display=swap');

* { /*o esterisco indica que é para selecionar todos os conteúdos da página*/
    margin: 0;
    padding: 0;
}

body {
    background-color:darkslategrey;
    color:whitesmoke;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box; /*garantir que os elementos filhos se ajustem dentro do elemento pai, neste caso, do body*/
}

.titulo-destaque {
    color: darksalmon;
    border: 1px solid darksalmon;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

img {
    width: 400px;
    border-radius: 30px;
    border-right: 20px solid rgb(75, 18, 22); 
    box-shadow: -30px 25px rgba(33, 151, 135, 0.356);
}

 .apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 615px;
    height: 482px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    text-align: justify;
    font-family: 'Single Day', cursive;

}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: darksalmon;
    border-radius: 16px;
    color: black;
    padding: 10px 0px 5px 0px;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    width: 280px;
    text-decoration: none;
    border-bottom: 10px solid rgb(75, 18, 22);
    box-shadow: -15px 10px rgba(33, 151, 135, 0.356);
}

/*.basic_info {
    padding-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
}

.basic_info p {
    font-size: 20px;
    
}

.basic_info .tolink {
    font-size: 25px;
    text-decoration:underline;
    padding-left: 30%;
    padding-right: 25%;
    
}

.link {
    font-size: 20px;   
    margin: 2% 20% 2% 20%;
}

.link .inst, .git {
    padding: 5px;
    background-color: darksalmon;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    margin-left: 18%;
}
.git {
    margin: 0% 0% 0% 25%;
}


*/